{{!< layout}}
<table class="aui" border="0">
    <thead>
    <tr>
        <th colspan="3" width="30%">
            <img style="height: 80px"
                 src="https://raw.githubusercontent.com/jainishshah17/Images/master/bitbucket_logo.png">
        </th>
        <th colspan="2" width="40%">
            <img style="height: 80px"
                 src="https://raw.githubusercontent.com/jainishshah17/Images/master/Artifactory_HEX_inline.png">
        </th>
        <th colspan="3" width="30%">
            <img style="height: 80px"
                 src="https://raw.githubusercontent.com/jainishshah17/Images/master/Bintray_HEX_inline.png">
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Status</th>
        <th>Build Details</th>
        <th>Statuses</th>
        <th>
            Repository<a
                href="https://bintray.com/{{builds.values.0.bintrayInfo.0.owner}}/{{builds.values.0.bintrayInfo.0.repo}}/{{builds.values.0.bintrayInfo.0.package}}/view#statistics"
                target="_blank"><span class="aui-icon aui-icon-small aui-iconfont-devtools-repository"
                                      title="Repository"></span></a></th>
        <th>
            Version<a
                href="https://bintray.com/{{builds.values.0.bintrayInfo.0.owner}}/{{builds.values.0.bintrayInfo.0.repo}}/{{builds.values.0.bintrayInfo.0.package}}/view#"
                target="_blank"><span class="aui-icon aui-icon-small aui-iconfont-version"
                                      title="Version"></span></a>
        </th>
    </tr>
    {{#each builds.values}}
        <tr>
            <td>
                {{build_number}}
            </td>
            <td><a href="{{url}}" target="_blank">
                {{name}}
            </a>
            </td>
            <td>
                {{#compare state.result.name "==" "FAILED"}}
                    <span class="aui-icon aui-icon-small aui-iconfont-remove" title="FAILED"></span>
                {{/compare}}
                {{#compare state.result.name "==" "SUCCESSFUL"}}
                    <span class="aui-icon aui-icon-small aui-iconfont-approve" title="SUCCESSFUL"></span>
                {{/compare}}
            </td>
            <td>
                <a href="{{buildUri}}" target="_blank"> Build Info</a>
                <a href="../../downloadArchive/{{name}}/{{build_number}}?jwt={{../token}}&repoUuid={{../repoUuid}}">
                    <span class="glyphicon glyphicon-cloud-download"
                          title="Download Build Artifacts Archive"></span>
                </a><br>
                User: {{buildInfo.artifactoryPrincipal}}<br>
                Build Agent: {{buildInfo.buildAgent.name}}<br>
                Version : {{buildInfo.buildAgent.version}}
            </td>
            <td>
                {{#each buildInfo.statuses}}
                    -{{status}}<br>
                {{/each}}
            </td>
            <td>
                {{#each bintrayInfo}}
                    <a href="https://bintray.com/{{owner}}/{{repo}}/{{package}}" target="_blank">{{package}}</a>
                {{/each}}
            </td>
            <td>
                {{#each bintrayInfo}}
                    <span class="aui-lozenge aui-lozenge-subtle aui-lozenge-success"><a
                            href="https://bintray.com/{{owner}}/{{repo}}/{{package}}/{{name}}"
                            target="_blank">{{name}}</a></span>
                    <a href="https://bintray.com/{{owner}}/{{repo}}/{{package}}/{{name}}#statistics"
                       target="_blank"><span
                            class="glyphicon glyphicon-stats" title="Statistics"></span></a>
                    <a href="https://bintray.com/{{owner}}/{{repo}}/{{package}}/{{name}}#release"
                       target="_blank"><span
                            class="aui-icon aui-icon-small aui-iconfont-details" title="Release Notes"></span></a>
                {{/each}}
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
