/* add-on styles */
.intro-header h1 {
  font-size: 48px;
  line-height: 60px;
  padding-top: 20px;
}
.intro-header p.subtitle {
  font-size: 24px;
  line-height: 30px;
  padding-bottom: 20px;
}
.main-panel .aui-page-panel-item {
  padding: 20px 40px 20px 0;
  height: 100px;
}

.build{
  height: 400px;
}

.spinner{
  padding: 4px 10px;
  display: inline-block;
}

.img{
  height: 100px;
}

.glyphicon {
  font-size: 20px;
}